$backup-fonts: 'Arial', sans-serif;

$aleckLight: 'aleck-sans-light', $backup-fonts;
$aleckBold: 'aleck-sans-bold', $backup-fonts;
$aleckItalic: 'aleck-sans-italic', $backup-fonts;
$aleckMedium: 'aleck-sans-medium', $backup-fonts;
$aleckRegular: 'aleck-sans-regular', $backup-fonts;

$gap: 20px;