<div class="container">
  <div class="social-media-section">
    <a
      href="{{ socialLinks.linkedin }}"
      target="linkedin"
      rel="noopener noreferrer"
      aria-label="opens new window"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a
      href="{{ socialLinks.instagram }}"
      target="instagram"
      rel="noopener noreferrer"
      aria-label="opens new window"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
  <div class="copyright-section">
    <i class="fa-regular fa-copyright"></i>
    <p>{{ year }}</p>
    <p>Ramiza Hoso | All Rights Reserved</p>
  </div>
</div>
