@import '../../../../assets/sass/colors.scss';
@import '../../../../assets/sass/variables.scss';

.container {
    flex: 1 0 calc(33.333% - #{$gap});
    margin: 0;
    box-sizing: border-box;
    padding: 15px;
    margin: 10px;
    background-color: $smokeGreen;
    border-radius: 3px;
    border: 1px solid $silver;
    text-align: center;
    p {
        font: 16px $aleckBold;
        color: white;
        margin: 0;
        text-transform: capitalize;
    }
}