$mainBlack: #1d101c;
$outerSpace: #4c5454;
$silver: #c9cfcf;
$dimGray: #606c6c;

$mintGreen: #cbf6f0;
$turquoise: #23d1ba;
$keppel: #1eae9b;
$smokeGreen: #92b8b8;
$whiteSmoke: #f5f5f5;

$error-red: #c70032;
$error-background: #f9e7e7;

$mintGreenFilter: invert(89%) sepia(16%) saturate(332%) hue-rotate(115deg) brightness(106%) contrast(93%);